# Copy this file to terraform.tfvars and update with your values

project_id      = "your-gcp-project-id"
project_name    = "alliance-pnrr"
region          = "europe-west1"
container_image = "gcr.io/your-gcp-project-id/alliance-backend:latest"
debug           = "False"
